# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.*

# macOS
.DS_Store

# editors
.idea/
.vscode/

# vercel
.vercel/
